@import url("//fonts.googleapis.com/css?family=Roboto+Slab:400,700,100,300&subset=latin");
@import url("//fonts.googleapis.com/css?family=Roboto:400,700,300,500&subset=latin");
@media (min-width: 300px) {[data-css="tve-u-15e33485ca1"]::after {clear: both;}
	[data-css="tve-u-15e095c75b0"] .tcb-flex-col {flex-basis: 10px !important;}
	[data-css="tve-u-15e09858f5a"] {max-width: 1300px;}
	[data-css="tve-u-15e09844ebf"] {padding-top: 20px !important;}
	[data-css="tve-u-15e09842c8a"] {padding-top: 20px !important;}
	[data-css="tve-u-15e09840f56"] {padding-top: 20px !important;}
	#tve_editor [data-css="tve-u-15e097ee62f"]:hover .tcb-button-link {border: 2px solid #fff;background-color: rgba(255,255,255,0) !important;}
	#tve_editor .thrv-content-box [data-css="tve-u-15e097fefa7"] p, #tve_editor .thrv-content-box [data-css="tve-u-15e097fefa7"] li, #tve_editor .thrv-content-box [data-css="tve-u-15e097fefa7"] blockquote, #tve_editor .thrv-content-box [data-css="tve-u-15e097fefa7"] address {font-family: "Roboto Slab";font-weight: 400;}
	[data-css="tve-u-15e097f7001"] {line-height: 25px !important;}
	#tve_editor [data-css="tve-u-15e097f7001"] {font-family: "Roboto Slab";font-weight: 400;font-size: 20px !important;}
	[data-css="tve-u-15e097ee62f"] .tcb-button-link {border-radius: 90px;overflow: hidden;border: 2px solid #1dc7c5;background-color: #1dc7c5 !important;padding: 20px !important;}
	[data-css="tve-u-15e097d4856"] {margin-top: 0px !important;}
	[data-css="tve-u-15e095c75b0"] > .tcb-flex-col > .tcb-col {min-height: 1px;justify-content: normal;}
	[data-css="tve-u-15e095c75b0"] > .tcb-flex-col {padding-left: 0px;}
	[data-css="tve-u-15e0979d8e2"] {max-width: 28.9%;}
	[data-css="tve-u-15e0979d8d4"] {max-width: 8.9%;}
	[data-css="tve-u-15e0979d8c6"] {max-width: 25.9%;}
	[data-css="tve-u-15e0979d8b8"] {max-width: 8.9%;}
	[data-css="tve-u-15e0979d8aa"] {max-width: 27.5%;}
	[data-css="tve-u-15e09770abd"] {line-height: 60px !important;}
	[data-css="tve-u-15e09770abd"] strong {font-weight: 700;}
	#tve_editor [data-css="tve-u-15e09770abd"] {font-family: Roboto;font-weight: 400;font-size: 36px !important;color: #fff !important;}
	[data-css="tve-u-15e0971163f"] {line-height: 18px !important;}
	#tve_editor [data-css="tve-u-15e0971163f"] {font-family: "Roboto Slab";font-weight: 100;color: #fff !important;font-size: 18px !important;}
	#tve_editor .thrv-content-box [data-css="tve-u-15e09624822"] p, #tve_editor .thrv-content-box [data-css="tve-u-15e09624822"] li, #tve_editor .thrv-content-box [data-css="tve-u-15e09624822"] blockquote, #tve_editor .thrv-content-box [data-css="tve-u-15e09624822"] address {font-size: 60px;font-family: "Roboto Slab";font-weight: 400;}
	[data-css="tve-u-15e09624822"] {min-height: 1px;}
	[data-css="tve-u-15e09621487"] {clip-path: url("#clip-bottom-41191a7ae67fb");background-color: #acac94 !important;}
	[data-css="tve-u-15e095c75b0"] {max-width: 1130px;min-height: inherit;margin-left: auto !important;margin-right: auto !important;padding: 0px !important;}
	[data-css="tve-u-15e095c16a7"] {width: 99px;margin: 50px auto !important;}
	[data-css="tve-u-15e095af403"] {font-size: 100px;color: #1bf3f0;width: 100px;height: 100px;border: 6px solid #fff;border-radius: 150px;overflow: hidden;margin-top: 0px !important;margin-left: auto !important;margin-right: auto !important;padding: 30px !important;}
	[data-css="tve-u-15e0959cc55"] {max-width: 1130px;margin-left: auto !important;margin-right: auto !important;padding-bottom: 25px !important;}
	[data-css="tve-u-15e0959af98"] {max-width: 1130px;margin-left: auto !important;margin-right: auto !important;padding-bottom: 80px !important;background-image: none !important;}
	[data-css="tve-u-15e09588f4c"] strong {font-weight: 500;}
	[data-css="tve-u-15e09588f4c"] {line-height: 40px !important;}
	#tve_editor [data-css="tve-u-15e09588f4c"] {font-family: Roboto;font-weight: 300;color: #fff !important;font-size: 28px !important;}
	[data-css="tve-u-15e09569b41"] {line-height: 79px !important;}
	#tve_editor [data-css="tve-u-15e09569b41"] {font-family: "Roboto Slab";font-weight: 300;color: #fff !important;font-size: 60px !important;}
	[data-css="tve-u-15e09536a2a"] .tve_sep {border-width: 1px;border-color: rgba(255,255,255,.25);}
	[data-css="tve-u-15e09536a2a"] {max-width: 1130px;padding-top: 20px !important;padding-bottom: 20px !important;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15e094e02b1"] {background-image: url("{tve_leads_base_url}set15_bg.jpg") !important;background-size: auto !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: no-repeat !important;background-color: #444349 !important;}
	[data-css="tve-u-15da26e5cb0"] {background-image: linear-gradient(#444349,#444349) !important;background-size: auto !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: no-repeat !important;padding-bottom: 0px !important;}
	[data-css="tve-u-15da26dc524"] {margin-left: 0px;margin-right: 0px;margin-bottom: 0px;margin-top: 0px !important;padding-top: 50px !important;}
	[data-css="tve-u-15da26b73a7"] {font-size: 15px;width: 15px;height: 15px;position: absolute;top: 20px;right: 20px;color: #7c7c80;border-radius: 150px;overflow: hidden;z-index: 20;border: 1px solid #7c7c80;padding: 5px !important;background-image: none !important;margin-top: 0px !important;margin-bottom: 0px !important;float: right;}
	[data-css="tve-u-15e095ce99b"] {font-size: 100px;color: #1bf3f0;width: 100px;height: 100px;border-radius: 90px;overflow: hidden;border: 7px solid #fff;margin: 0px auto 20px !important;padding: 30px !important;}
	[data-css="tve-u-15e0960d352"] {width: 99px;margin: 50px auto !important;}
	[data-css="tve-u-15e0960def3"] {font-size: 100px;color: #1bf3f0;width: 100px;height: 100px;border: 6px solid #fff;border-radius: 150px;overflow: hidden;margin: 0px auto 20px !important;padding: 30px !important;}
	[data-css="tve-u-15e0970b5b3"] {max-width: 128px;margin: -60px auto 0px !important;padding: 20px !important;}
	[data-css="tve-u-15e09723ec7"] {clip-path: url("#clip-bottom-803a48ea610ed");background-color: #acac94 !important;}
	[data-css="tve-u-15e09738579"] {line-height: 18px !important;}
	#tve_editor [data-css="tve-u-15e09738579"] {font-family: "Roboto Slab";font-weight: 100;color: #fff !important;font-size: 18px !important;}
	[data-css="tve-u-15e0974d243"] {clip-path: url("#clip-bottom-8f22bb86ff482");background-color: #acac94 !important;}
	#tve_editor .thrv-content-box [data-css="tve-u-15e097fefa7"] p, #tve_editor .thrv-content-box [data-css="tve-u-15e09624822"] li, #tve_editor .thrv-content-box [data-css="tve-u-15e09624822"] blockquote, #tve_editor .thrv-content-box [data-css="tve-u-15e09624822"] address {font-size: 60px;font-family: "Roboto Slab";font-weight: 400;}
	[data-css="tve-u-15e097fefa7"] {min-height: 1px;}
	[data-css="tve-u-15e09804224"] {max-width: 128px;margin: -60px auto 0px !important;padding: 20px !important;}
	[data-css="tve-u-15e334913be"] {line-height: 60px !important;}
	[data-css="tve-u-15e334913be"] strong {font-weight: 700;}
	#tve_editor [data-css="tve-u-15e334913be"] {font-family: Roboto;font-weight: 400;font-size: 36px !important;color: #fff !important;}
	[data-css="tve-u-15e3349236f"] {line-height: 60px !important;}
	[data-css="tve-u-15e3349236f"] strong {font-weight: 700;}
	#tve_editor [data-css="tve-u-15e3349236f"] {font-family: Roboto;font-weight: 400;font-size: 36px !important;color: #fff !important;}}
@media (max-width: 1023px) {[data-css="tve-u-15e09770abd"] {line-height: 1.1em !important;}
	[data-css="tve-u-15e09840f56"] {background-image: none !important;}
	[data-css="tve-u-15e3349236f"] {line-height: 1.1em !important;}
	[data-css="tve-u-15e09842c8a"] {background-image: none !important;}
	[data-css="tve-u-15e334913be"] {line-height: 1.1em !important;}
	[data-css="tve-u-15e09844ebf"] {background-image: none !important;}
	[data-css="tve-u-15da26e5cb0"] {background-image: linear-gradient(#444349,#444349) !important;background-size: auto !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: no-repeat !important;}
	[data-css="tve-u-15e0959af98"] {background-image: none !important;padding-bottom: 30px !important;}
	[data-css="tve-u-15e09569b41"] {line-height: 1.1em !important;}
	#tve_editor [data-css="tve-u-15e09569b41"] {font-size: 52px !important;}
	[data-css="tve-u-15e0959cc55"] {background-image: none !important;}
	[data-css="tve-u-15e09536a2a"] {padding-top: 10px !important;}
	[data-css="tve-u-15da26b73a7"] {background-image: none !important;}
	[data-css="tve-u-15e095c75b0"] {padding-left: 10px !important;padding-right: 10px !important;}}
@media (max-width: 767px) {#tve_editor [data-css="tve-u-15e09588f4c"] {font-size: 24px !important;}
	[data-css="tve-u-15e09840f56"] {background-image: none !important;}
	[data-css="tve-u-15e09907f17"] {padding-top: 20px !important;padding-bottom: 20px !important;}
	[data-css="tve-u-15e09906f3c"] {padding-top: 20px !important;padding-bottom: 20px !important;}
	[data-css="tve-u-15e09904ef2"] {padding-bottom: 20px !important;padding-top: 20px !important;}
	[data-css="tve-u-15e095c75b0"] {padding-bottom: 0px !important;}
	[data-css="tve-u-15e0959af98"] {padding-left: 10px !important;padding-right: 10px !important;padding-bottom: 20px !important;background-image: none !important;}
	#tve_editor [data-css="tve-u-15e09569b41"] {font-size: 34px !important;}
	[data-css="tve-u-15e0959cc55"] {padding-left: 10px !important;padding-right: 10px !important;background-image: none !important;padding-bottom: 10px !important;}
	[data-css="tve-u-15da26dc524"] {padding-left: 0px !important;padding-right: 0px !important;padding-bottom: 0px !important;}}