@import url("//fonts.googleapis.com/css?family=Roboto:300,500,400,700&subset=latin");
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,400&subset=latin");
@media (min-width: 300px) {[data-css="tve-u-15dd16aba5a"] strong {font-weight: 500;}
	[data-css="tve-u-15dd0f43d85"] strong {font-weight: 500;}
	#tve_editor [data-css="tve-u-15dd12e85dc"] {font-size: 18px !important;}
	#tve_editor [data-css="tve-u-15dd12e7136"] {font-size: 18px !important;}
	[data-css="tve-u-15dd12e3c93"] {padding: 0px;}
	[data-css="tve-u-15dd12d82f9"] + div {clear: both;}
	[data-css="tve-u-15dd12c5939"] {max-width: 33.3333%;}
	[data-css="tve-u-15dd12c5915"] {max-width: 58.3%;}
	[data-css="tve-u-15dd12c58ee"] {max-width: 8.4%;}
	#tve_editor [data-css="tve-u-15dd0f43d85"]:hover .tcb-button-link {background-color: #333 !important;color: #fff !important;}
	[data-css="tve-u-15dd126d5cd"] {padding: 20px !important;}
	#tve_editor [data-css="tve-u-15dd0f43d85"] .tcb-button-link {font-size: 18px;line-height: 15px;color: #333 !important;}
	[data-css="tve-u-15dd0f43d85"] {min-width: 250px;margin-bottom: 30px !important;}
	[data-css="tve-u-15dd0f43d85"] .tcb-button-link {border: 2px solid #333;background-color: rgba(26,188,156,.01) !important;color: #1abc9c !important;font-weight: normal !important;}
	[data-css="tve-u-15dd081986f"] + div {clear: none;}
	[data-css="tve-u-15dd081986f"] {float: none;width: 76px;position: absolute;top: 1px;right: 230px;}
	[data-css="tve-u-15dd0808498"] + div {clear: both;}
	[data-css="tve-u-15dd0808498"] {float: none;width: 75px;position: absolute;right: 873px;bottom: 94px;}
	[data-css="tve-u-15dd076adb5"] {z-index: 2;max-width: 100%;margin-top: 40px !important;margin-bottom: 40px !important;}
	[data-css="tve-u-15dd0755285"] {width: 477px;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15dd074ffab"] {max-width: 750px;}
	[data-css="tve-u-15dd0730b2d"] {max-width: 900px;margin: 60px auto 30px !important;}
	[data-css="tve-u-15dd070a550"] {padding: 20px;}
	[data-css="tve-u-15dd0709105"] {max-width: 1180px;}
	[data-css="tve-u-15dd07078f0"] {width: 267px;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15dd06f4611"] {background-color: #fff !important;}
	#tcb_landing_page h3 strong {font-weight: 500;}
	#tcb_landing_page h3 {font-family: Roboto;font-weight: 300;font-size: 28px;}
	#tcb_landing_page h2 strong {font-weight: 500;}
	#tcb_landing_page h2 {font-family: Roboto;font-weight: 300;font-size: 34px;line-height: 1em;color: #333;}
	#tcb_landing_page h1 strong {font-weight: 500;}
	#tcb_landing_page h1 {font-family: Roboto;font-weight: 300;font-size: 44px;line-height: 44px;}
	#tcb_landing_page p strong, #tcb_landing_page li strong {font-weight: 600;}
	#tcb_landing_page p, #tcb_landing_page li {font-family: "Source Sans Pro";font-weight: 300;font-size: 23px;}
	[data-css="tve-u-15dd0716bf8"] {padding: 20px;}
	[data-css="tve-u-15dd0717b51"] {background-color: #fff !important;background-image: url("{tcb_lp_base_url}minimal_video_offer_bg.jpg") !important;background-size: cover !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: no-repeat !important;}
	[data-css="tve-u-15dd0761033"] {background-color: #f4f4f4 !important;}
	[data-css="tve-u-15dd12c30b3"] {width: 52px;float: none;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15dd16aba5a"] {max-width: 1180px;}}
@media (max-width: 767px) {[data-css="tve-u-15dd134d134"] {margin-left: auto !important;margin-right: auto !important;}
	#tve_editor [data-css="tve-u-15dd1333a28"] {font-size: 30px !important;}
	[data-css="tve-u-15dd0730b2d"] {margin: 20.5px -35.5px 10px !important;}}