@import url("//fonts.googleapis.com/css?family=Oswald:400,500,300&subset=latin");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin");
@media (min-width: 300px) {[data-css="tve-u-15d9d793442"] {max-width: 48.2%;}
	[data-css="tve-u-15d9d79340f"] {max-width: 51.9%;}
	[data-css="tve-u-15d9d72e1d8"] p, [data-css="tve-u-15d9d72e1d8"] li, [data-css="tve-u-15d9d72e1d8"] blockquote, [data-css="tve-u-15d9d72e1d8"] address {color: #fff;}
	[data-css="tve-u-15d9d7143e7"] {padding: 20px !important;}
	[data-css="tve-u-15d9d7130ac"] {max-width: 1220px;}
	[data-css="tve-u-15d9d7120d0"] {background-color: #121212 !important;}
	[data-css="tve-u-15d9d7042bb"] {padding-left: 20px !important;padding-right: 20px !important;}
	[data-css="tve-u-15d9d7036db"] {max-width: 1220px;}
	[data-css="tve-u-15d9d6dabf3"] {background-color: #3f3f3f !important;background-image: url("{tcb_lp_base_url}bizcar-ps2.jpg") !important;background-size: cover !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: no-repeat !important;}
	[data-css="tve-u-15d9d6cc24d"] {margin-bottom: 19px !important;}
	[data-css="tve-u-15d9d6c7916"] {margin-left: 0px;margin-right: 0px;margin-bottom: 0px;margin-top: 17px !important;}
	#tcb_landing_page h3 {font-size: 30px;line-height: 51px;color: #1288cc;}
	[data-css="tve-u-15d9d6afca0"] {padding: 22px;}
	[data-css="tve-u-15d9d6ab982"] {max-width: 85%;}
	[data-css="tve-u-15d9d6ab956"] {max-width: 15%;}
	[data-css="tve-u-15d9d69b2d9"] {border: 1px solid #cfcfcf !important;}
	[data-css="tve-u-15d9d6874bb"] {width: 160px;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15d9d65529e"] {margin-top: 48px !important;}
	[data-css="tve-u-15d9d64ce02"] {padding: 20px !important;}
	[data-css="tve-u-15d9d64c0b3"] {max-width: 1220px;}
	[data-css="tve-u-15d9d64ac43"] {background-color: #fff !important;}
	[data-css="tve-u-15d9d63eb98"] {line-height: 3em !important;}
	#tve_editor [data-css="tve-u-15d9d3c9df7"] {color: #e40000 !important;}
	[data-css="tve-u-15d9d628dd9"] {padding-left: 20px !important;padding-right: 20px !important;}
	[data-css="tve-u-15d9d627ee5"] {max-width: 796px;}
	[data-css="tve-u-15d9d622425"] {background-color: #ddd !important;}
	[data-css="tve-u-15d9d61a40e"] {margin-top: 35px !important;}
	[data-css="tve-u-15d9d612a88"] {float: right;width: 568px;}
	[data-css="tve-u-15d9d60ad70"] {margin-top: 25px !important;}
	[data-css="tve-u-15d9d608417"] {margin-top: 25px !important;margin-bottom: 12px !important;}
	[data-css="tve-u-15d9d603585"] {max-width: 50%;}
	[data-css="tve-u-15d9d603565"] {max-width: 50%;}
	[data-css="tve-u-15d9d600869"] {width: 568px;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15d9d5ed5e1"] {max-width: 1220px;}
	[data-css="tve-u-15d9d5eb3c1"] {padding-top: 90px !important;padding-left: 20px !important;padding-right: 20px !important;}
	[data-css="tve-u-15d9d541e6c"] {line-height: 1.2em !important;}
	[data-css="tve-u-15d9d5307cd"] {max-width: 276px;margin: -76px auto 0px !important;}
	[data-css="tve-u-15d9d52e9ca"] {background-color: #282828 !important;}
	[data-css="tve-u-15d9d4eeee1"] {font-family: Oswald;font-weight: 400;text-align: center;margin-top: 23px !important;margin-bottom: -86px !important;}
	[data-css="tve-u-15d9d4eeee1"] .tve-post-grid-text, .tve-post-grid-title {color: #fff;}
	[data-css="tve-u-15d9d4d8a08"] {background-color: #282828 !important;}
	[data-css="tve-u-15d9d4d5956"] {max-width: 1220px;}
	[data-css="tve-u-15d9d4d1a6d"] {margin-bottom: 108px !important;margin-top: 48px !important;}
	[data-css="tve-u-15d9d4be887"] {border-right: 2px solid #fff;margin-right: 8px !important;}
	[data-css="tve-u-15d9d4b5fc7"] {margin-top: 12px !important;padding-left: 18px !important;}
	#tve_editor [data-css="tve-u-15d9d43c438"]:hover [data-css="tve-u-15d9d42c287"] {background-color: #9b0000 !important;}
	[data-css="tve-u-15d9d43c438"] .tcb-button-link {border: 1px solid #e43e3e;border-radius: 15px;overflow: hidden;font-family: Oswald;font-weight: 400;font-size: 30px;box-shadow: rgba(0,0,0,.41) 0px 2px 5px 0px;}
	[data-css="tve-u-15d9d42c287"] {background-color: #cf0000 !important;padding-left: 24px !important;padding-right: 24px !important;}
	[data-css="tve-u-15d9d41cd70"] {max-width: 693px;margin: 60px auto 43px !important;}
	[data-css="tve-u-15d9d3ff4f6"] {background-image: url("{tcb_lp_base_url}bizcar-ps1.jpg"),linear-gradient(#373737,#373737) !important;background-size: cover,auto !important;background-position: 0px 0px,0px 0px !important;background-attachment: scroll,scroll !important;background-repeat: no-repeat,no-repeat !important;}
	[data-css="tve-u-15d9d3fb664"] p, [data-css="tve-u-15d9d3fb664"] li, [data-css="tve-u-15d9d3fb664"] blockquote, [data-css="tve-u-15d9d3fb664"] address {color: #fff;}
	[data-css="tve-u-15d9d3fc669"] {padding-left: 20px !important;padding-right: 20px !important;}
	[data-css="tve-u-15d9d3fb664"] {max-width: 870px;}
	[data-css="tve-u-15d9d3c9df7"] {line-height: 1.5em !important;}
	[data-css="tve-u-15d9d3b42fd"] {line-height: 1.4em !important;}
	[data-css="tve-u-15d9d3a890f"] {font-size: 35px;width: 35px;height: 35px;color: #a9a9a9;margin-left: auto !important;margin-right: auto !important;margin-top: 30px !important;}
	[data-css="tve-u-15d9d39e88e"] {max-width: 23.9%;}
	[data-css="tve-u-15d9d39e881"] {max-width: 24.1%;}
	[data-css="tve-u-15d9d39e872"] {max-width: 22.1%;}
	[data-css="tve-u-15d9d39e85e"] {max-width: 29.9%;}
	[data-css="tve-u-15d9d39bb24"] {float: right;width: 352px;}
	[data-css="tve-u-15d9d387a5a"] {background-color: #fff !important;}
	[data-css="tve-u-15d9d38550e"] {border-bottom: 7px solid #1288cc;padding-left: 20px !important;padding-right: 20px !important;}
	[data-css="tve-u-15d9d383e6b"] {max-width: 1220px;}
	#tcb_landing_page h1 strong {font-weight: 500;}
	#tcb_landing_page p strong, #tcb_landing_page li strong {font-weight: 600;}
	#tcb_landing_page h2 {font-family: Oswald;font-weight: 400;font-size: 55px;line-height: 1.3em;color: #1288cc;}
	#tcb_landing_page h1 {font-family: Oswald;font-weight: 300;color: #1288cc;font-size: 66px;line-height: 1.3em;}
	#tcb_landing_page p, #tcb_landing_page li {font-family: "Open Sans";font-weight: 400;font-size: 18px;line-height: 1.93em;}
	[data-css="tve-u-15d9d62d4c5"] {margin-bottom: 0px !important;margin-top: 10px !important;}
	[data-css="tve-u-15d9d63349a"] {margin-right: 8px !important;}
	[data-css="tve-u-15d9d6d2b9a"] {width: 160px;float: left;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15d9d7069ba"] {margin: 45px auto 28px !important;}
	#tve_editor [data-css="tve-u-15d9d7069ba"]:hover [data-css="tve-u-15d9d42c287"] {background-color: #9b0000 !important;}
	[data-css="tve-u-15d9d7069ba"] .tcb-button-link {border: 1px solid #e43e3e;border-radius: 15px;overflow: hidden;font-family: Oswald;font-weight: 400;font-size: 30px;box-shadow: rgba(0,0,0,.41) 0px 2px 5px 0px;}
	[data-css="tve-u-15d9d708a01"] {margin-top: 12px !important;padding-left: 18px !important;margin-bottom: 15px !important;}
	[data-css="tve-u-15d9d72c1ae"] {background-color: #3b3b3b !important;}
	[data-css="tve-u-15d9d72e1d8"] {max-width: 1220px;}
	[data-css="tve-u-15d9d760e96"] {font-size: 35px;width: 35px;height: 35px;color: #a9a9a9;margin-left: auto !important;margin-right: auto !important;margin-top: 30px !important;}
	[data-css="tve-u-15d9d76cef0"] {margin-top: 12px !important;padding-left: 18px !important;}
	#tve_editor [data-css="tve-u-15d9d770887"]:hover [data-css="tve-u-15d9d42c287"] {background-color: #9b0000 !important;}
	[data-css="tve-u-15d9d770887"] .tcb-button-link {border: 1px solid #e43e3e;border-radius: 15px;overflow: hidden;font-family: Oswald;font-weight: 400;font-size: 30px;box-shadow: rgba(0,0,0,.41) 0px 2px 5px 0px;}
	[data-css="tve-u-15d9d7b1d2f"] {margin-top: 25px !important;margin-bottom: 12px !important;}
	[data-css="tve-u-15dcce974d3"] {padding: 20px !important;}}
@media (max-width: 1023px) {[data-css="tve-u-15d9d4b5fc7"] {margin-top: 30px !important;}
	[data-css="tve-u-15dcce81d3a"] {flex-direction: row;}
	[data-css="tve-u-15dcce7fa03"] {flex-direction: row;}
	[data-css="tve-u-15dcce7b583"] {padding-top: 0px !important;}
	[data-css="tve-u-15d9d793442"] {max-width: 41.7%;}
	[data-css="tve-u-15d9d79340f"] {max-width: 58.3%;}
	[data-css="tve-u-15d9d612a88"] {margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15d9d745c7a"] .tcb-flex-col {flex-basis: 108px !important;}}
@media (max-width: 767px) {[data-css="tve-u-15def6eca6b"] {text-align: center;}
	[data-css="tve-u-15def6eaf29"] {text-align: center;}
	[data-css="tve-u-15d9d3fc669"] {padding-left: 10px !important;padding-right: 10px !important;}
	[data-css="tve-u-15d9d5eb3c1"] {padding-left: 10px !important;padding-right: 10px !important;}
	[data-css="tve-u-15d9d628dd9"] {padding-left: 10px !important;padding-right: 10px !important;}
	[data-css="tve-u-15d9d7042bb"] {padding-left: 10px !important;padding-right: 10px !important;}
	[data-css="tve-u-15d9d64ce02"] {padding-left: 10px !important;padding-right: 10px !important;}
	[data-css="tve-u-15def6d96a5"] {text-align: center;}
	#tve_editor [data-css="tve-u-15def6d525b"] {font-size: 15px !important;}
	[data-css="tve-u-15def6cf471"] {text-align: center;}
	[data-css="tve-u-15d9d4be887"] {border-right: 1px solid rgba(255,255,255,0);}
	#tve_editor [data-css="tve-u-15dcce936fc"] {font-size: 30px !important;}
	#tve_editor [data-css="tve-u-15dcce91832"] {font-size: 30px !important;}
	#tve_editor [data-css="tve-u-15dcce8fc62"] {font-size: 30px !important;}
	#tve_editor [data-css="tve-u-15dcce89fec"] {font-size: 42px !important;}
	[data-css="tve-u-15d9d41cd70"] {margin-bottom: 20px !important;}
	[data-css="tve-u-15dcce81d3a"] {flex-direction: column;}
	[data-css="tve-u-15dcce7fa03"] {flex-direction: column;}
	[data-css="tve-u-15d9d7c4293"] {margin-bottom: 2px !important;}
	[data-css="tve-u-15d9d7c2fa2"] {margin-top: 24px !important;}
	[data-css="tve-u-15d9d6874bb"] {margin-bottom: 0px !important;}
	[data-css="tve-u-15d9d6d2b9a"] {margin-bottom: 0px !important;}
	[data-css="tve-u-15d9d745c7a"] .tcb-flex-col {flex-basis: 163px !important;}
	[data-css="tve-u-15d9d7685af"] {margin-bottom: 1px !important;}
	[data-css="tve-u-15d9d39bb24"] {margin-bottom: -2px !important;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15d9d760e96"] {margin-top: 10px !important;margin-bottom: 0px !important;}
	[data-css="tve-u-15d9d76cef0"] {margin-top: 10px !important;}
	[data-css="tve-u-15d9d770887"] {margin-bottom: 0px !important;margin-top: 0px !important;}
	[data-css="tve-u-15d9d7b1d2f"] {margin-top: 1px !important;}
	[data-css="tve-u-15dcce974d3"] {padding-left: 0px !important;padding-right: 0px !important;}}