.green {background: url("../images/greenGradient.jpg") repeat-x bottom #7bc143;}
.red {background: url("../images/redGradient.jpg") repeat-x bottom #f2393f;}
.blue {background: url("../images/blueGradient.jpg") repeat-x bottom #2f5fc0;}
.purple {background: url("../images/purpleGradient.jpg") repeat-x bottom #7f5aac;}
.orange {background: url("../images/orangeGradient.jpg") repeat-x bottom #e8653d;}
.gBt, .cta_bnt {background: url("../images/whiteGradient.jpg") repeat-x bottom #fff;}
.tabs_widget .tabs_headers ul li a {background: url("../images/smallGreenGradient.jpg") repeat-x bottom #7bc143;}
.mre {background: url("../images/grayGradient.jpg") repeat-x bottom #898989;}
.mre:hover {background: url("../images/grayGradientHover.jpg") repeat-x bottom #6d6d6d;}
.cnt .bSe article, .brd .wrp, .scn {background: #fff;border: 1px solid #e6e6e6;}
section footer {border-bottom: 1px solid #e6e6e6;}
ul.menu {list-style-type: none;}
.bSe footer {height: 40px;}
.bSe footer ul li {position: relative;width: 180px !important;}
.bSe footer ul li ul {border-top: 1px solid #e6e6e6 !important;list-style-type: none;padding-top: 1px;position: absolute;bottom: 29px;}
.bSe footer ul .bSe footer {position: relative;z-index: 1001;}
input.search-field {display: inline-block;margin-bottom: 23px;}
.bSe article, .bSe .awr {z-index: 0;}
.copyright ul li {display: inline;}
button.search-button {float: none !important;}
div.btn {display: inline;}